@font-face {
    font-family: "IBM Plex Sans";
    src: url("./ibm/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./ibm/IBMPlexMono-Regular.ttf");
}

.sidebar-logo-container {
    padding: 1rem 1rem 1rem 0;
    width: 9rem;
}